<p>
    <mat-toolbar color="light">
    <span class="example-spacer"></span>    
      <span>Biblio</span>
      <span class="example-spacer"></span>
      <button mat-flat-button color="primary" *ngFor=""></button>
      <span class="example-spacer"></span>
      
      <button  class="navbutton" mat-button color="light" routerLink="/dashboard/">
          <mat-icon>manage_accounts</mat-icon>
      </button>

    <div *ngIf="userinfo">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/logout">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
    <div *ngIf="!userinfo" class="navbutton" >
        <button class="navbutton"  mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/logout">Login
        </button>
    </div>

    </mat-toolbar>
  </p>
