<div class="container">
    <mat-toolbar>
        <span class="example-spacer"></span>
        <span>Usuarios</span>
        <span class="example-spacer"></span>
        <div class="example-button-container">
          <button mat-stroked-button color="primary" routerLink="/dashboard/crear-user">Nuevo Usuario</button>
        </div>
        
    </mat-toolbar>
    
</div>
<div *ngIf="listaUsers.length > 0">
  <div class="container">

      <mat-form-field appearance="standard">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
      </mat-form-field>
  </div>

  <div id="maintable" class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" >
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Username Column -->
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>Usuario</th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- Apellidos Column -->
          <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef> Apellidos </th>
            <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
          </ng-container>
        
          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> E-mail </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
              <th class="actions" mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let element; let i = index">
                  <a class="pointer" style="color:#c2c5cc" matTooltip="Info user"><mat-icon>search</mat-icon></a>
                  <a class="pointer" style="color:#FFA500" matTooltip="Editar"><mat-icon>edit</mat-icon></a>
                  <a class="pointer" (click)="deleteUser(i)" style="color:#e15639" matTooltip="Borrar "><mat-icon>delete</mat-icon></a>
              </td>
            </ng-container>
    

        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        
        
  </div>
</div>
<div *ngIf="listaUsers.length == 0">
  <div class="nodata">
    <h2>Upss..!! </h2>
    <h1>No hay datos que mostrar</h1>
  </div>
</div>